/*************************************************/
/* Footer Css */

#footer{
	width: 100%;
	background-color: #363839;
	border-top: solid 10px #E6E6E6;
	margin-top: 60px;
	.container{
		max-width: 1029px;
		.row{
			padding-top: 20px;
			padding-bottom: 20px;
				p{
					padding-top: 18px;
					color: #747474;
					font-family: 'Pt Sans', sans-serif;
					font-size: 13px;
					font-weight: 400;
					padding-right: 20px;
				}
				h4{
					color: white;
					text-transform: uppercase;
					color: #FFFFFF;
					font-family: 'Oswald', sans-serif;
					font-size: 14px;
					font-weight: 400;
					padding: 0px;

				}
				ul{
					list-style: none;
					padding-left: 0;
						.faqLi{
							border-bottom: solid 1px #747474;
						}
						i{
							color: #747474;
							padding-right: 20px;
						}
						a{
							text-decoration: none;
						}

				}
				.request, .request a{
					color: white;
				}
		}
	}
}

#copyright{
	background-color: #282A2B;
	padding-bottom: 22px;
	.container{
		max-width: 1020px;
	}
	.copyRText{
		p{
			padding-top: 20px;
			color: #747474;
			font-family: 'Pt Sans', sans-serif;
			font-size: 13px;
			font-weight: 400;
		}
	}
	.tos{
		text-align: right;
		p, a{
			padding-top: 20px;
			color: #747474;
			font-family: 'Pt Sans', sans-serif;
			font-size: 13px;
			font-weight: 400;
		}
	}
}

@media (max-width: 992px){
	#footer .container .row .col-lg-3.col-md-3.col-sm-6.col-xs-12{
		margin-bottom: 40px;
		border-bottom: solid 2px;
		padding-bottom: 40px;
	}
}


/* End Footer Css */
/*************************************************/

