/*************************************************/
/* Masthead Css */
#headerwrap{
	width: 100%;
}
#header{
	text-align: center;
	padding-top: 126px;
	max-width: 1020px;
	margin: 0 auto;
	.city{
		width: 100%;
		height: 117px;
		background-repeat: no-repeat;
		overflow: hidden;
		background-image: url(/images/cityscape.png);
		background-position-x: 300px;
		.icon{
			position: relative;
			height: 78px;
			width: 125px;
			background-image: url(/images/logo.png);
			background-size: cover;
			margin-left: 120px;
		}
	}
}



.header-divider{
		background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.3) 0px, rgba(255, 255, 255, 0) 70%);
		height: 50px;
		margin-bottom: -50px;
}
/* End Masthead Css */
/*************************************************/
