/*Index CSS*/

#appbanner{
	max-width: 1020px;
	background-color: #29ABE2;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 30px;
	font-family: 'pt sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
		p{
			color: #FFFFFF !important;
		} 
		.container{
			max-width: 800px;
			margin-left: 5px;
				#button1{
					text-align: center;
				}
				h3{
					color: white;
					color: #FFFFFF;
					font-family: 'pt sans narrow', sans-serif;
					line-height: 53px;
					font-size: 44px;
					font-weight: thin;
				}
				h4{
					color: #FFFFFF;
					font-family: 'pt sans narrow', sans-serif;
					font-size: 30px;
					font-weight: 700;
					letter-spacing: 0px;
					padding: 0px 0px 0px;
				}
				.btn.btn-default{
					border-color: #4E7844 !important;
					background-color: #A0CE4E !important;
					text-align: left;
					border-radius: 0px !important;
					margin-top: 30px;
						&:hover{
							border-color: #A0CE4E !important;
							background-color: #4E7844 !important;							
						}
						p{
							font-family: 'Arial, Helvetica Neue, Helvetica', sans-serif !important;
							font-size: 14px;
							color: #fff !important;
							font-weight: 400;
							letter-spacing: 1px;
							padding: 2px 15px 0 15px;
							margin-bottom: 3px !important;
						}
				}
		}
}

#borderline{
	.spacer{
		max-width: 990px;
		border-bottom: solid 1px #fff;
	}
}

#storeicon{
	text-align: right;
	img{
		margin-top: -5px;
		padding-bottom: 10px;
	}
}


#mapsection{
	max-width: 1020px;
	margin: 20px auto;
	.container{
		max-width: 1020px;
		text-align: center;
		img{
			margin: 0 auto;
		}
	}
}
@media (max-width: 770px) {
	.btn.btn-default{
		margin-bottom: 20px;
	}
}
/*Index CSS*/