#loginsection{
	margin: 100px 0 100px 0;
	.container{
		max-width: 600px;
		fieldset{
				border: none !important;
		}
		.form-horizontal{
			background-color: #29ABE2;
			padding: 20px;
			font-family: 'Oswald', sans-serif !important;
			legend, label, a, p{
				color: white;
			}
			a{
				padding-left: 20px;
			}
			.btn.btn-default{
			border-color: #29ABE2 !important;
			background-color: #407ba4 !important;
			text-align: left;
			border-radius: 0px !important;
			font-family: 'Arial, Helvetica Neue, Helvetica', sans-serif !important;
			font-size: 14px;
			color: #fff !important;
			font-weight: 400;
			letter-spacing: 1px;
			padding: 10px 25px 10px 25px !important;
			margin-bottom: 3px !important;
			color: white;
				&:hover{
					border-color: #407ba4 !important;
					background-color: #29ABE2 !important;							
				}	
			}
			p.register{
				text-align: center;
				a{
					padding: 0;
					color: #cccccc;
				}
			}
		}
	}
}