/* Slider Css */

#myCarousel{
	max-width: 1020px;
	margin: 0 auto;
}

h2{
    margin: 0;     
    color: #fff !important;
    padding-top: 90px;
    font-size: 52px;
    font-family: "PT Sans", sans-serif;
    padding-bottom: 30px;
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}

.slide{
	height: 100%;
	background-size: cover;
	background-position: center;
}

.slide1{
		background-image: url(http://dannyvassallo.com/MuseExport/images/cityscape.jpg);
}

.carousel-indicators{
	left: 30% !important;
	margin-left: -50% !important;

}
/* End Slider Css */
