/*************************************************/
/* Slider Css */

#myCarousel{
	max-width: 1020px;
	margin: 0 auto;
        h2{
            margin: 0;     
            color: #fff !important;
            padding-top: 30px;
            font-size: 40px;
            font-family: 'Oswald', sans-serif;
            padding-bottom: 30px;
            text-shadow: 2px 2px 4px #000;
            background-color:rgba(0,0,0,0.5);
            padding-left: 16px;
        }
}

.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}

.slide{
	height: 100%;
	background-size: cover;
	background-position: center;
}

.slide1{
		background-image: url(/images/slider/1.jpg);
}
.slide2{
        background-image: url(/images/slider/2.jpg)
}
.slide3{
        background-image: url(/images/slider/3.jpg)
}
.slide4{
        background-image: url(/images/slider/4.jpg)
}
.slide5{
        background-image: url(/images/slider/5.jpg)
}
.slide6{
        background-image: url(/images/slider/6.jpg)
}
.slide7{
        background-image: url(/images/slider/7.jpg)
}

.carousel-indicators{
	left: 30% !important;
	margin-left: -50% !important;

}

.carousel-control.right .glyphicon.glyphicon-chevron-right,
.carousel-control.left .glyphicon.glyphicon-chevron-left{
    width: 70px;
    background: white;
    height: 70px;
    vertical-align: middle;
    border-top: white solid 20px;
    border-bottom: white solid 20px;
    margin-top: -40px;
    box-shadow: 0px 0px 8px #000;
    color: #646464;
}

.carousel-control.right .glyphicon.glyphicon-chevron-right{
    right: 15px;
}

.carousel-control.left .glyphicon.glyphicon-chevron-left{
    left: 15px;
}
/* End Slider Css */
/*************************************************/