<!--*****************************************************-->
<!-- Delete Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                  <div class="row">
                        <div class="col-md-4">
                            <img class="logo img-responsive" src="images/logo.png">
                        </div>
                        <div id="button1" class="col-md-8">
                            <h4>Delete Account</h4>
                            <p>Are you sure you want to cancel your account with gpm311™?</p>
                            <a href="#">
                                <div class="btn btn-default followbtn">
                                    <p>DELETE ACCOUNT</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="btn btn-default loginregbtn">
                                    <p>CANCEL</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
<!-- End Delete Modal -->
<!--*****************************************************-->