<!--*****************************************************-->
<!-- Details Modal -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <ul>
                      <li>
                        <div class="green-date">
                        <p>18</p>
                        <p>June</p>
                        </div>
                        <p class="header">
                        Abandoned Vehicle
                        </p>
                        <p class="lower-text">
                        MM/DD/YY | Time | City, State
                        </p>
                        <a class="btn btn-default" href="#">
                        <p class="hidden-xs hidden-sm">FOLLOW</p><i class="fa fa-plus hidden-md hidden-lg"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="row">
                    <%= lorem.paragraphs 2 %>
                  </div>
              </div>
          </div>
      </div>
   </div>
</div>
<!-- End Details Modal -->
<!--*****************************************************-->