<!--*****************************************************-->
<!-- Follow Modal -->
<div class="modal fade" id="follow" tabindex="-1" role="dialog" aria-labelledby="follow" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                  <div class="row">
                        <div class="col-md-4">
                            <img class="logo img-responsive" src="/images/logo.png">
                        </div>
                        <div id="button1" class="col-md-8">
                            <h4>Follow this report</h4>
                            <p>Enter your email address below to receive email updates about this report. To check on the status of this report on gpm311.com, create an account today.</p>
                            <p class="bold">Email</p>
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">  
                                        <input id="name" name="name" type="text" placeholder="placeholder" class="form-control input-xl">
                                    </div>
                                </fieldset>
                            </form>
                            <a href="report.html">
                                <div class="btn btn-default followbtn">
                                    <p>FOLLOW</p>
                                </div>
                            </a>
                            <a href="login.html">
                                <div class="btn btn-default loginregbtn">
                                    <p>LOGIN/REGISTER</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
<!-- End Follow Modal -->
<!--*****************************************************-->