<!--*****************************************************-->
<!-- Follow Modal -->
<div class="modal fade" id="follow" tabindex="-1" role="dialog" aria-labelledby="follow" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    <img class="logo img-responsive" src="/images/logo.png">
            </div>
        </div>
   </div>
</div>
<!-- End Follow Modal -->
<!--*****************************************************-->