<!-- Begin Footer -->

<div id="footer">
 col-md-4 col-sm-3 col-xs-12	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img class="block" id="u1052_img" src="http://dannyvassallo.com/MuseExport/images/logo_footer.jpg" alt="" width="90" height="57">
				<p>gpm311™ is the easiest way to bring residents and their government officials together to solve problems. By submitting a problem, users are communicating directly with the government department that can help find a solution.</p>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>FAQ</h4>
				<ul>
					<li class="faqLi"><a href="#"><p>How do I file a report?</p></a></li>
					<li class="faqLi"><a href="#"><p>What if help is needed right away?</p></a></li>
					<li class="faqLi"><a href="#"><p>What kinds of things can I report?</p></a></li>
					<li class="faqLi"><a href="#"><p>What happens when I file a report?</p></a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>REQUEST GPM311</h4>
				<p class="request">If your city or town is not listed in gpm311's list of participating municipalities, please go <a href="#">here</a> to send a request.</p>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>GET SOCIAL</h4>
					<ul>
						<li><a href="#"><p><i class="fa fa-facebook fa-2x"></i>Like us on Facebook</p></a></li>
						<li><a href="#"><p><i class="fa fa-twitter fa-2x"></i>Follow us on Twitter</p></a></li>
						<li><a href="#"><p><i class="fa fa-linkedin fa-2x"></i>Connect on LinkedIn</p></a></li>
					</ul>
			</div>
		</div>
	</div>
</div>

<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 copyRText">
				<p>© Copyright 2014 | NOBEL Systems</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tos">
				<p><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></p>
			</div>
		</div>
	</div>
</div>

<!-- End Footer -->