<!-- Begin Masthead -->

<div id="header" class="container">
<div class="row">
<img class="img-responsive" src="http://dannyvassallo.com/MuseExport/images/gpm311header.png">
</div>
</div>

<!-- End Masthead -->