<!--*****************************************************-->
<!-- Reports -->
<div id="reports">
<h2>Recently Reported</h2>
<ul>
<a href="#">
	<li>
		<div class="green-date">
			<p>18</p>
			<p>June</p>
		</div>
		<p class="header">
			Abandoned Vehicle
		</p>
		<p class="lower-text">
			MM/DD/YY | Time | City, State
		</p>
		<a class="btn btn-default" href="#" data-toggle="modal" data-target="#follow">
			<p class="hidden-xs hidden-sm">FOLLOW</p><i class="fa fa-plus hidden-md hidden-lg"></i>
		</a>
	</li>
</a>
<a href="report.html">
	<li>
		<div class="green-date">
			<p>18</p>
			<p>June</p>
		</div>
		<p class="header">
			Abandoned Vehicle
		</p>
		<p class="lower-text">
			MM/DD/YY | Time | City, State
		</p>
		<a class="btn btn-default" href="#" data-toggle="modal" data-target="#follow">
			<p class="hidden-xs hidden-sm">FOLLOW</p><i class="fa fa-plus hidden-md hidden-lg"></i>
		</a>		
	</li>
</a>
<a href="report.html">
	<li>
		<div class="green-date">
			<p>18</p>
			<p>June</p>
		</div>
		<p class="header">
			Abandoned Vehicle
		</p>
		<p class="lower-text">
			MM/DD/YY | Time | City, State
		</p>
		<a class="btn btn-default" href="#" data-toggle="modal" data-target="#follow">
			<p class="hidden-xs hidden-sm">FOLLOW</p><i class="fa fa-plus hidden-md hidden-lg"></i>
		</a>		
	</li>
</a>
<a href="report.html">
	<li>
		<div class="green-date">
			<p>18</p>
			<p>June</p>
		</div>
		<p class="header">
			Abandoned Vehicle
		</p>
		<p class="lower-text">
			MM/DD/YY | Time | City, State
		</p>
		<a class="btn btn-default" href="#" data-toggle="modal" data-target="#follow">
			<p class="hidden-xs hidden-sm">FOLLOW</p><i class="fa fa-plus hidden-md hidden-lg"></i>
		</a>		
	</li>
</a>
</ul>
</div>
<!-- End Reports -->
<!--*****************************************************-->