<!-- Begin Sidebar -->

<div id="sidebar">
	<div class="top">
		<div class="navMenux"><img src="http://dannyvassallo.com/MuseExport/images/close_light.png">
		</div>
	</div>
	<ul class="sidebar">
		<li>Login/Register</li>
		<li>About GPM311</li>
		<li>Report A Problem</li>
		<li>FAQ</li>
		<li>Terms of Use</li>
		<li>Privacy Policy</li>
	</ul>
</div>

<!-- End Sidebar -->