---
title: About
---

<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>About gpm311</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>GPM 311 is your solution to keeping your town safe, happy and beautiful. Our technology allows easy online reporting which connects residents and government seamlessly. Report a problem through GPM 311 and watch a solution appear as your track the status and know your tax dollars are hard at work. Visit our FAQ section for information.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<img src="http://dannyvassallo.com/MuseExport/images/logo.png">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h2>FEATURES</h2>
					<ul>
						<li>Easy online reporting from a desktop or through the GPM 311 mobile app</li>
						<li>Get your problem to the right government department the first time</li>
						<li>Track the progress of your problem and watch a solution form</li>
						<li>Report problems in up to 5 towns as a registered GPM 311 user</li>
						<li>See problems in your area reported by other GPM 311 users</li>
					</ul>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h2>WHAT CAN I REPORT?</h2>
					<ul>
						<li>Potholes</li>
						<li>Damaged public property</li>
						<li>Graffiti</li>
						<li>Street and traffic light problems</li>
						<li>Overflowing garbage, recycling, brush and leaves</li>
						<li>Public maintenance problems</li>
						<li>Environmental problems</li>
					</ul>
			</div>
		</div>
	</div>
</div>
