---
title: About
---
<!--*****************************************************-->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>About gpm311™</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
				<p>gpm311™ is your solution to keeping your town safe, happy and beautiful. Our technology allows easy online reporting which connects residents and government seamlessly. Report a problem through gpm311™ and watch a solution appear as your track the status and know your tax dollars are hard at work. Visit our FAQ section for information.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h2>Features</h2>
					<ul>
						<li>Easy online reporting from a desktop or through the gpm311™ mobile app</li>
						<li>Get your problem to the right government department the first time</li>
						<li>Track the progress of your problem and watch a solution form</li>
						<li>Report problems in up to 5 towns as a registered gpm311™ user</li>
						<li>See problems in your area reported by other gpm311™ users</li>
					</ul>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<p>Have more questions? Visit our FAQs page</p>
				<a href="faq.html">
					<div class="btn btn-default">
						<p>VISIT FAQs</p>
					</div>
				</a>
				<p>Interested in implementing gpm311™ for your residents? Click below for more information about gpm311™ and gpm™ for government entities.</p>
				<a href="government.html">
					<div class="btn btn-default">
						<p>FOR GOVERNMENT</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div id="img-gallery">
	<div class="container">
		<div class="row">
		   <div class="col-lg-12 col-lg-offset-1">
		   	<h2>What kinds of things can I report?</h2>
		   </div>
		   <div class="col-sm-6 col-md-2 col-md-offset-1">
		      <div class="thumbnail">
		         <img src="images/Pothole.jpg">
		      </div>
		      <div class="caption">
		         <p>Potholes</p>
		      </div>
		   </div>
		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Damaged-Public-Property.jpg">
		      </div>
		      <div class="caption">
		         <p>Damaged public property</p>
		      </div>
		   </div>
		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Graffiti.jpg">
		      </div>
		      <div class="caption">
		         <p>Graffiti</p>
		      </div>
		   </div>
		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Traffic-Light.jpg">
		      </div>
		      <div class="caption">
		         <p>Street and traffic light issues</p>
		      </div>
		   </div>
   		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Overflowing-Garbage.jpg">
		      </div>
		      <div class="caption">
		         <p>Overflowing garbage, recycling, brush, and leaves</p>
		      </div>
		   </div>
		</div>
		<div class="row">
		   <div class="col-sm-6 col-md-2 col-md-offset-1">
		      <div class="thumbnail">
		         <img src="images/Public-Maintenance.jpg">
 		      </div>
		      <div class="caption">
		         <p>Public maintenance issues</p>
		      </div>
		   </div>
		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Environmental-Issues.jpg">
		      </div>
		      <div class="caption">
		         <p>Environmental issues</p>
		      </div>
		   </div>
		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Road-Kill.jpg">
		      </div>
		      <div class="caption">
		         <p>Road kill</p>
		      </div>
		   </div>
		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Abandoned-Vehicle.jpg">
		      </div>
		      <div class="caption">
		         <p>Abandoned Vehicles</p>
		      </div>
		   </div>
   		   <div class="col-sm-6 col-md-2">
		      <div class="thumbnail">
		         <img src="images/Water-and-Sewage.jpg">
		      </div>
		      <div class="caption">
		         <p>Water/Sewer issues</p>
		      </div>
		   </div>
		</div>
	</div>
</div>
<!--*****************************************************-->