---
title: FAQ
---

<!--*****************************************************-->
<div id="faq" class="container">
	<div class="row">
	  <h2>Frequently Asked Questions</h2>
	  <br>
	  <br>	
		<div id="accordion">
			  <h3>How do I file a report?</h3>
			  <div>
			    <p>
					How do I file a report?
					Just visit our “Report an Issue” page (hyperlink this text) and fill out the required fields. If you’re a 
					registered gpm311™ user (hyperlink this text) you can track the progress of your issue through your 
					personal account and see it through to a solution. Users can even upload photos on both our full website 
					and through our mobile app.
					</p>
					<a href="login.html">Register Here</a>
					<p>
					<p>
					Want to report an issue on your phone? Download our mobile app on your iPhone (link to app store) or 
					Android (link to app store) today.
			    </p>
			  </div>
			  <h3>What if help is needed right away?</h3>
			  <div>
			    <p>
					If this is an emergency and you need help right away, please dial 9-1-1.
			    </p>
			  </div>
			  <h3>What kinds of things can I report?</h3>
			  <div>
			    <p>
					gpm311™ users can report any public property issue which its local government has jurisdiction over. 
					This includes issues such as potholes, street and traffic light issues, graffiti on public property, road kill 
					and more.
			    </p>
			  </div>
			  <h3>What happens when I file a report?</h3>
			  <div>
			    <p>
					If you’re a registered gpm311™ user, you can track the issue through our website once you’ve reported it. 
					Just log in to gpm311™ on your computer or your phone and track it all the way to a solution through your 
					account.
					</p>
					<p> 
					If your municipality allows anonymous reporting, gpm311™ will still ask for your email address in order to 
					send you a case number so you can follow your issue through to its solution.
					</p>
			  </div>
			  <h3>How many municipalities can I report to?</h3>
			  <div>
			    <p>
					gpm311™ users can report to an unlimited amount of participating cities.
					</p>
			  </div>
			  <h3>My city isn’t listed, how can I get it to participate?</h3>
			  <div>
			  	<a href="#">Submit Here</a>
			  	<p>
			    <p>
					By submitting this form, you're letting NOBEL Systems know you want gpm311 in 
					your town. We'll contact your town with this information and hopefully your town 
					will be wise enough to use gpm311 to save money, increase efficiency and 
					promote transparency for its constituents!
					</p>
			  </div>
		</div>
	</div>
</div>
<!--*****************************************************-->