---
title: Home
---

<%= partial "slider"%>
<!--*****************************************************-->
<!-- Main CTA -->

<div id="cta" class="container">
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ctabtn1">
		<a href="residents.html">
			<div class="btn btn-default residentsbtn">
				<P>FOR RESIDENTS</p>
			</div>
		</a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ctabtn2">
		<a href="government.html">
			<div class="btn btn-default govtbtn">
				<P>FOR GOVERNMENT</p>
			</div>
		</a>
	</div>
</div>
</div>

<!-- End Main CTA -->
<!--*****************************************************-->
<!--*****************************************************-->
<!-- App Banner -->

<div id="appbanner">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
				<h3>Submit your 311 service request now</h3>
			</div>
			<div id="button1" class="col-lg-3 col-md-2 col-sm-2 col-xs-12">
				<a href="report.html">
						<div class="btn btn-default">
							<p>REPORT IT</p>
						</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div id="borderline" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="spacer">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-8 col-sm-8 col-xs-12">
				<h4>Download the GPM311 App for Android or iOS</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<p>Report problems in and around your community you would like to see resolved, right on your mobile device!</p>
			</div>
			<div id="storeicon" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<a href="#"><img src="images/apple-app-store-icon.png"></a>
				<a href="#"><img src="images/googleplayicon.png"></a>
			</div>
		</div>
	</div>
</div>
<!-- End App Banner -->
<!--*****************************************************-->
<!--*****************************************************-->
<!-- Begin Map Section -->
<div id="mapsection">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<select class="form-control">
					<option value="one">One</option>
					<option value="two">Two</option>
					<option value="three">Three</option>
					<option value="four">Four</option>
					<option value="five">Five</option>
				</select>
				<br>
				<img class="img-responsive" src="images/map-sample.jpg">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<%= partial "reports" %>
			</div>
		</div>
	</div>
</div>
<!-- End Map Section -->
<!--*****************************************************-->