---
title: Log In
---

<!--*****************************************************-->
<div id="loginsection">
	<div class="container">
		<div class="row">
			<form class="form-horizontal">
			<fieldset>

			<!-- Form Name -->
			<legend>Log In</legend>
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="email">Email</label>  
			  <div class="col-md-6">
			  <input id="email" name="email" type="text" placeholder="youremailaddress@email.com" class="form-control input-md">
			    
			  </div>
			</div>

			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Password</label>
			  <div class="col-md-6">
			    <input id="password" name="password" type="password" placeholder="your password" class="form-control input-md">
			    
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="login"></label>
			  <div class="col-md-6">
			    <button id="login" name="login" class="btn btn-default">Log In</button>
  			  <a href="#">
			  	Lost your password?
			  </a>
			  </div>
			</div>

			</fieldset>
				<p class="register">Don't have an account? Get one <a href="register.html">Here</a>.</p>
			</form>
		</div>
	</div>
</div>
<!--*****************************************************-->
