---
title: My Account
---

<!--*****************************************************-->
<div id="myreports">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 navi">
				<a class="btn btn-default" href="myreports.html">
				<p>MY REPORTS</p>
				</a>
				<a class="btn btn-default" href="report.html">
				<p>CREATE A REPORT</p>
				</a>
				<a class="btn btn-default" href="followed.html">
				<p>FOLLOWED REPORTS</p>
				</a>
				<a class="btn btn-default active" href="myaccount.html">
				<p>SETTINGS</p>
				</a>
			</div>
			<div class="col-lg-8">
				<h4>My Account</h4>
				<div class="clearfix reportborder">
					<ul>
						<li class="borderbottom"><span class="title">Name</span><span class="content">FirstName LastName</span><span class="link"><a href="#">Edit</a></span></li>
						<li class="borderbottom"><span class="title">Email</span><span class="content">youremail@domain.com</span><span class="link"><a href="#">Edit</a></span></li>
						<li class="borderbottom"><span class="title">Password</span><span class="content">********<span class="link"><a href="#">Edit</a></span></li>
						<li class="borderbottom"><span class="title">Phone</span><span class="content">555-555-5555</span><span class="link"><a href="#">Edit</a></span></li>
						<li><span class="title">Locations</span><span class="content">Jersey City, NJ<span class="link"><a href="#">Remove</a></span></li>
						<li><span class="title">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><span class="content">Tinton Falls, NJ</span><span class="link"><a href="#">Remove</a></span></li>
						<li><span class="title">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><span class="content">
							<div class="col-md-6 nopad">
								<select id="city" name="city" class="form-control">
									<option value="1">Select a city</option>
									<option value="2">Option two</option>
								</select>
							</div>
						</span><span class="link"><a href="#">+Add New</a></span></li>
						<li>&nbsp</li>
						<li>&nbsp</li>
						<li>&nbsp</li>
						<li>&nbsp</li>
						<li><span class="title"></span><span class="content">
						</span><span class="link"><a href="#" data-toggle="modal" data-target="#delete">Cancel Account</a></span></li>																		
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--*****************************************************-->