---
title: My Reports
---

<!--*****************************************************-->
<div id="myreports">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 navi">
				<a class="btn btn-default active" href="myreports.html">
				<p>MY REPORTS</p>
				</a>
				<a class="btn btn-default" href="report.html">
				<p>CREATE A REPORT</p>
				</a>
				<a class="btn btn-default" href="followed.html">
				<p>FOLLOWED REPORTS</p>
				</a>
				<a class="btn btn-default" href="myaccount.html">
				<p>SETTINGS</p>
				</a>
			</div>
			<div class="col-lg-8">
				<h4>My Reports</h4>
				<div class="clearfix reportborder">
					<ul class="thumbnails">
					  <li class="span4">
					    <div class="thumbnail right-caption span4">
					      <img class="span2" src="http://placehold.it/200x160" alt="">
					      <div class="caption">
					        <h5>Report Category</h5>
					        <p>Description</p>
					        <ul>
					        	<li>Date:</li>
					        	<li>Time:</li>
					        	<li>Location:</li>
					        	<li>Status:</li>
					        </ul>
					      </div>
					    </div>
					  </li>
					</ul>
					<ul class="thumbnails">
					  <li class="span4">
					    <div class="thumbnail right-caption span4">
					      <img class="span2" src="http://placehold.it/200x160" alt="">
					      <div class="caption">
					        <h5>Report Category</h5>
					        <p>Description</p>
					        <ul>
					        	<li>Date:</li>
					        	<li>Time:</li>
					        	<li>Location:</li>
					        	<li>Status:</li>
					        </ul>
					      </div>
					    </div>
					  </li>
					</ul>
					<ul class="thumbnails">
					  <li class="span4">
					    <div class="thumbnail right-caption span4">
					      <img class="span2" src="http://placehold.it/200x160" alt="">
					      <div class="caption">
					        <h5>Report Category</h5>
					        <p>Description</p>
					        <ul>
					        	<li>Date:</li>
					        	<li>Time:</li>
					        	<li>Location:</li>
					        	<li>Status:</li>
					        </ul>
					      </div>
					    </div>
					  </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--*****************************************************-->